[Desktop Entry]
Name=Ubuntu Kernel Update Utility
MimeType=
Exec=ukuu-gtk
Type=Application
GenericName=Ubuntu Kernel Update Utility
Terminal=false
Icon=ukuu
Comment=Ubuntu Kernel Update Utility
X-KDE-StartupNotify=false
Categories=System;
